.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}
.intro-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
}
.intro-name> :nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.intro-right{
    flex: 1;
}